@charset "utf-8";
/*CSS DOCUMENTS*/

#wrap{width:100%;height:auto;}

/*container => 부모요소*/
#container{width:100%;height:auto;}

#container>section{
    display: block;
    width:100%;
    height:auto;
}

/*------첫번째 단(메인소개)------*/
#sct1{background-color: #B40404;}
.main-intro{padding: 120px 0 0 0;width:100%;height:1030px;}

/*로고이미지*/
.logo{
    width: 300px;
    height: 300px;
    margin: 0 auto;
    background:url(../img/main-logo.svg) no-repeat;
}
/*imac이미지*/
.imac{
    width: 1250px;
    height: 1100px;
    margin: 0 auto;
    padding: 70px 0;
    background: url(../img/imac.png)20px 20px no-repeat;
}
.main-image-code{
    width: 1096px;
    height: 607px;
    margin: 0 auto;
    background: url(../img/main_background.png) no-repeat;
}

/*------두번째 단(사이트소개)------*/
#container>#sct2{
    width: 1240px;
    height: 400px;
    margin: 300px auto 0 auto;
}
.about-website-intro{
    margin-top: 50px ;
}
.overview{
    margin: 20px 0;
    text-align: center;
    color: #000;
    font-size: 25px;
    letter-spacing: 3px;
    font-family: 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', 'sans-serif';
    font-weight: bolder;
}
.about-website-intro p:nth-child(2),
.about-website-intro p:nth-child(3),
.about-website-intro p:nth-child(4){
    margin: 10px 0;
    text-align: center;
    font-size: 18px;
    line-height: 37px;
    font-weight: 600;
    color: #B40404;
}

/*------세번째 단(글자 설명_단/칼라 설명_단)------*/
#container>#sct3{
    width: 1240px;
    height: 800px;
    border: 1px solid gray;
    text-align: center;
    margin: 0 auto;
}
.typography{
    margin: 20px 0;
    text-align: center;
    color: #000;
    letter-spacing: 3px;
    font-size: 25px;
    font-family: 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', 'sans-serif';
    font-weight: bolder;
}
.exp-txt-cover{
    display: -webkit-inline-box;
    font-size: 20px;
    color: #B40404;
}
/*나눔스퀘어*/
.exp1{
    display: inline-block;
    height: auto;
    font-weight: 700;
    font-size: 80px;
}
.exp1 span{
    font-weight: 500;
    font-size: 60px;
}
.line{
    display: inline-block;
    height: auto;
    margin: 0 50px;
    font-size: 80px;
    font-weight: 300;
}
/*나눔스퀘어라운드*/
.exp2{
    display: inline-block;
    height: auto;
    font-family: 'NanumSquareRound',sans-serif;/*라운드폰트*/
    font-weight: 700;
    font-size: 80px;
}
.exp2 span{
    font-weight: 500;
    font-size: 60px;
}
/*------------------------*/
.expression-txt{
    display: block;
    margin: 50px 0;
    font-size: 18px;
    font-weight: 600;
    color: #B40404;
}
.expression-txt p{
    display: inline;
}
.expression-txt p:nth-child(1){
    margin: 0 20px;
}
.expression-txt p:nth-child(2){
    margin: 0 20px 0 30px;
}
.expression-txt p:nth-child(3){
    margin-left: 20px;
}
/*------칼라 설명_단------*/
.exp-color{
    width: 100%;
    height: auto;
    border: 1px solid green;
}
.color{
    margin: 20px 0;
    text-align: center;
    color: #000;
    letter-spacing: 3px;
    font-size: 25px;
    font-family: 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', 'sans-serif';
    font-weight: bolder;
}
/*원(animation)들어가는 부분*/
/* animate effect - 원 */

/*7개 원*/
.red-main-colors{width: 100%;height: auto;}
.round-col{width: 100%; height: 100px; margin-top: 30px;}
.round1{z-index: -100; margin: 0 -15px;}
.round2{margin: 0 -15px; z-index: -80;}
.round3{margin: 0 -15px; z-index: -60;}
.round4{margin: 0 -15px; z-index: -40;}
.round5{margin: 0 -10px; z-index: -20;}
.round6{margin: 0 -8px; z-index: -10;}
.round7{margin: 0 -20px; z-index: 0;}
.round-col span{
    display: inline-block;
    width: 80px;
    height: 80px;
    border-radius: 40px;
    background-color: #B40404;
    transition-duration: 1s;
    box-shadow: 0 7px 28px rgba(0,0,0,0.24);
}
.round-col span:hover{
    transform: translateY(-32px);
    transition: ease-in-out;
    transition: 0.7s;
}
.exp-color p{
    margin: 18px auto;
    color: #B40404;
    font-weight: 800;
    font-size: 17px;
}
/* 서브칼라 원 스타일지정 */
.SubColors{
    width: 60%;
    height: 150px;
    margin: 29px auto;
}
/*(SubColor)남색 원*/
.sub-color{
    width: 100px;
    height: auto;
    float: left;
}
.round-navi{
    width: 80px;
    height: 80px;
    margin: 0 auto;
    border-radius: 40px;
    background-color: #323a41;
    transition: all ease 1s;
}
.round-navi:hover{
    transition: all ease 1s;
    transform:scale(1.3);
    box-shadow: 0 7px 28px rgba(0,0,0,0.24);
}
/*(SubColor)회색 원*/
.sub-color2{
    width: 100px;
    height: auto;
    float: right;
}
.round-gray{
    width: 80px;
    height: 80px;
    margin: 0 auto;
    border-radius: 40px;
    transition: all ease 1s;
    background-color: #abacac;
}
.round-gray:hover{
    transition: all ease 1s;
    transform:scale(1.3);
    box-shadow: 0 7px 28px rgba(0,0,0,0.24);
}


/* 레이아웃 그리드 섹션 */
#sct4{ width: 100vw; height: 100vw; background-color: #fff;}
.grid-system{ width: 100vw; }
.grid-img{
    width: 805px;
    height: 900px;
    margin: 80px auto;
    opacity: 0.8;
    background: url(../img/페이지그리드이미지.png) no-repeat;
}
.grid-tit{
    margin: 40px 0;
    text-align: center;
    color: #000;
    letter-spacing: 3px;
    font-size: 25px;
    font-family: 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', 'sans-serif';
    font-weight: bolder;
}
/* 움직이는 선 */
.moving-line{width: 100%; height: 20px; border: 1px solid gray;}
/* 레이아웃 레드그리드 */
.px-line{
    z-index: 100; 
    position: relative;
    left: 50%;
    top: -1000px;
    transform: translate(-50%);  
    width: 700px;
    height: 800px;
    opacity: 0.8;
    }
.i1, .i2, .i3, .i4, .i5, .i6, .i7, .i8, .i9, .i10, .i11, .i12, .i13, .i14, .i15, .i16, .i17, .i18 {
    position: absolute;
    width: 22px;
    height: 800px;
    background-color: #B40404 ;
    /* (크로스브라우징) 그라데이션 넣기 */
    background: -moz-linear-gradient(top,  rgba(180,4,4,1) 0%, rgba(169,14,3,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(180,4,4,1) 0%,rgba(169,14,3,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(180,4,4,1) 0%,rgba(169,14,3,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b40404', endColorstr='#00a90e03',GradientType=0 ); /* IE6-9 */
}
.i1{left:0px;}
.i2{left:40px;}
.i3{left:80px;}
.i4{left:120px;}
.i5{left:160px;}
.i6{left:200px;}
.i7{left:240px;}
.i8{left:280px;}
.i9{left:320px;}
.i10{left:360px;}
.i11{left:400px;}
.i12{left:440px;}
.i13{left:480px;}
.i14{left:520px;}
.i15{left:560px;}
.i16{left:600px;}
.i17{left:640px;}
.i18{left:680px;}


#sct5{
    width: 100vw;
    height: 100vh;
    background-color: #FF708F ;
}

/*Pager Button*/
#pager{
    position:fixed;
    z-index:9999;
    /*위치적용*/
    /*absolute = fixed*/
    top:40%;
    transform: translate(-50%);
    right:2%;
    display:none;
    
}

#pager li{
    background-color: darkgrey;
    margin: 16px 0;
    border-radius: 15px;
    opacity: 0.5;
}

#pager a{
    /*a태그안에 있는 글을 제거*/
    text-indent: -9999px;
    
    /*글자가 사라지고 간 빈 공간을 디자인하는 코드*/
    /*a태그나 span태그는 공간이라는 개념이 존재하지 않는다.*/
    display:block;
    width:10px;
    height:10px;
    border-radius: 15px;
    background-color: black;
    /* border:1px solid #fff; */
    /*위의값으로 인하여 사각버튼을 원형버튼으로 제작하는 코드*/
}
#pager li a:active{
    border-radius: 17px;
    background-color: black;
    /* background-color: #ffffff; */
}
